<%= render partial: 'questions/question_partial', locals: {question: question} %>

<div class="question">
    <div class="question-description">
        <%= @question.description %>
    </div>
</div>
