<h2>question page</h2>

    <%= render partial: 'questions/question_partial', locals: {question: @question} %>

    <p>
      Tags: <%= render partial: 'questions/tag', locals: {tags: @question.tags} %>
    </p>