
<%= render partial: 'questions/show_question_partial', locals: {question: @question} %>

Answers:


<%= render @question.answers %>


<div style="margin-top: 30px">
    <%= render partial: 'answers/answer_form' %>
</div>