<div style="font-size: 24px; margin-bottom: 5px">All questions (sort by: <%= link_to 'date', questions_path %> <%= link_to 'rating', sort_by_rating_path %>)</div>

<% @question.each do |question| %>

    <%= render partial: 'questions/question_partial', locals: {question: question} %>

    <br>
<% end %>
