@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 5, /home/kirill/Projects/stack/app/assets/stylesheets/answers.css.scss */
.answer-form {
  border-top: 1px lightgrey solid;
}

/* line 9, /home/kirill/Projects/stack/app/assets/stylesheets/answers.css.scss */
.answer-field {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

/* line 17, /home/kirill/Projects/stack/app/assets/stylesheets/answers.css.scss */
.answer-button {
  font-size: 20px;
  margin-top: 10px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
}

/* line 25, /home/kirill/Projects/stack/app/assets/stylesheets/answers.css.scss */
.answer {
  margin-top: 10px;
  margin-left: 205px;
  border: solid 1px lightgrey;
  padding: 5px;
  overflow: hidden;
}
/* line 32, /home/kirill/Projects/stack/app/assets/stylesheets/answers.css.scss */
.answer .answer-body {
  width: 900px;
  text-align: left;
}
/* line 36, /home/kirill/Projects/stack/app/assets/stylesheets/answers.css.scss */
.answer .answer-author {
  float: right;
  margin-top: -18px;
}
/* line 6, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 11, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.cf:after {
  clear: both;
}

/* line 15, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.cf {
  *zoom: 1;
}

/* line 19, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
#main {
  padding: 0% 15%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 24, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.header-container {
  background-color: #F7F7F7;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  padding-left: 15%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;
}

/* line 35, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.right {
  float: right;
}

/* line 39, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
a:link, a:visited {
  width: auto;
  color: black;
  text-decoration: none;
}

/* line 45, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.circle {
  height: 80px;
  width: 80px;
  border: 2px solid red;
  border-radius: 100%;
  margin: 5px;
  float: left;
}

/* line 54, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
.circle-text {
  width: 80px;
  text-align: center;
  margin-top: 20px;
}

/* line 60, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 66, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
li {
  float: left;
  margin-right: 15px;
}

/* line 71, /home/kirill/Projects/stack/app/assets/stylesheets/layout.css.scss */
#tag {
  font-size: 13px;
  display: inline-block;
  background: darkorange;
  border: 1px darkorange solid;
  border-radius: 15px;
  padding: 4px;
}
/* line 1, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question {
  border-bottom: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 7, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-description {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  margin-left: 205px;
  font-size: 20px;
}

/* line 15, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-info {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}
/* line 19, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-info .question-title {
  font-size: 24px;
  font-weight: bold;
}
/* line 23, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-info .question-title-tags {
  margin-top: 10px;
}

/* line 28, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-management {
  float: right;
  font-size: 15px;
}
/* line 31, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-management .user-info {
  margin-top: 10px;
}
/* line 34, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-management .question-delete {
  margin-top: 10px;
}

/* line 39, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-text {
  font-size: 20px;
  margin-bottom: 5px;
}

/* line 44, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-form {
  margin-top: 10px;
  font-size: 20px;
}

/* line 49, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-title-field {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

/* line 56, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-description-field {
  margin-top: 30px;
  height: 250px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

/* line 64, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-tag-field {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

/* line 71, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.question-form-tags {
  margin-top: 270px;
  margin-bottom: 5px;
}

/* line 76, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.ask-button {
  font-size: 20px;
  margin-top: 10px;
  height: 35px;
  width: 200px;
  border-radius: 5px;
}

/* line 84, /home/kirill/Projects/stack/app/assets/stylesheets/questions.css.scss */
.delete-button {
  font-size: 14px;
  margin-top: 10px;
  height: 25px;
  width: 120px;
  border-radius: 5px;
  background: #F7F7F7;
}

/* line 1, /home/kirill/Projects/stack/app/assets/stylesheets/sessions.css.scss */
.login {
  border: solid #F7F7F7 2px;
  border-radius: 5px;
  top: 350px;
  /* Отступ в процентах от верхнего края окна */
  left: 50%;
  /* Отступ в процентах от левого края окна */
  width: 350px;
  /* Ширина блока */
  height: 250px;
  /* Высота блока */
  position: absolute;
  /* Абсолютное позиционирование блока */
  margin-top: -225px;
  /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -225px;
  /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

/* line 13, /home/kirill/Projects/stack/app/assets/stylesheets/sessions.css.scss */
.text-login {
  height: 30px;
  border-bottom: #F7F7F7 solid 2px;
  background: #F7F7F7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

/* line 24, /home/kirill/Projects/stack/app/assets/stylesheets/sessions.css.scss */
.login-text {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
}

/* line 31, /home/kirill/Projects/stack/app/assets/stylesheets/sessions.css.scss */
.login-field {
  height: 20px;
  width: 60%;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 20%;
}

/* line 39, /home/kirill/Projects/stack/app/assets/stylesheets/sessions.css.scss */
.button {
  font-size: 18px;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  margin-left: 28%;
  border-radius: 5px;
}

/* line 1, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.registration-form {
  border: solid #F7F7F7 2px;
  border-radius: 5px;
  top: 350px;
  /* Отступ в процентах от верхнего края окна */
  left: 50%;
  /* Отступ в процентах от левого края окна */
  width: 350px;
  /* Ширина блока */
  height: 320px;
  /* Высота блока */
  position: absolute;
  /* Абсолютное позиционирование блока */
  margin-top: -225px;
  /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -225px;
  /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

/* line 14, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.text-registration {
  height: 30px;
  border-bottom: #F7F7F7 solid 2px;
  background: #F7F7F7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

/* line 25, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.registration-text {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
}

/* line 32, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.registration-field {
  height: 20px;
  width: 60%;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 20%;
}

/* line 40, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.button {
  font-size: 18px;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  margin-left: 27, 5%;
  border-radius: 5px;
}

/* line 49, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.user-page-name {
  border-bottom: 1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 38px;
}

/* line 56, /home/kirill/Projects/stack/app/assets/stylesheets/users.css.scss */
.user-page-info {
  margin-top: 10px;
  border-bottom: lightgrey solid 1px;
}
