// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer-form{
  border-top: 1px lightgrey solid;
  }

.answer-field{
  margin-top: 10px;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  }

.answer-button{
  font-size: 20px;
  margin-top: 10px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  }

.answer{
  margin-top: 10px;
  margin-left: 205px;
  border: solid 1px lightgrey;
  padding: 5px;
  overflow: hidden;

  .answer-body{
    width: 900px;
    text-align: left;
    }
  .answer-author{
    float: right;
    margin-top: -18px;
    }
  }