// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container{
  position: fixed;
  background-color: lightgrey;
  width: 100%;
  height: 50px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  }

li {
  float: left;
  margin-top: 10px;

  }

a:link, a:visited {
  display: block;
  width: auto;
  font-weight: bold;
  color: black;
  padding: 4px;
  text-decoration: none;
  }

