// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  }

.cf:after {
  clear: both;
  }

.cf {
  *zoom: 1;
  }

#main{
  padding: 0% 15%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.header-container{
  background-color: #F7F7F7;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  padding-left: 15%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  }

.right{
  float: right;
  }

a:link, a:visited {
  width: auto;
  color: black;
  text-decoration: none;
  }

.circle{
  height: 80px;
  width: 80px;
  border: 2px solid red;
  border-radius: 100%;
  margin: 5px;
  float: left;
  }

.circle-text{
  width: 80px;
  text-align: center;
  margin-top: 20px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

li {
  float: left;
  margin-right: 15px;
  }

#tag{
  font-size: 13px;
  display: inline-block;
  background: darkorange;
  border: 1px darkorange solid;
  border-radius: 15px;
  padding: 4px;
  }


